
<div class="component">
<!-- <app-electromobility></app-electromobility> -->
<div class="input-area">
  <input
    class="new-todo"
    placeholder="Search your coffee"
    autoFocus
    type="text"
    #input
    (input)="getBrewList(input.value)"
    (keyup.enter)="getCityListByEnter(input.value)"
    (keyup.enter)="input.value=''"
  />
</div>

<div class="search-result" *ngIf="breweryList!=undefined && input.value!=''">
  <ul>
      <li *ngFor="let city of breweryList" (click)="getLinkCity(city)"
      (click)="input.value=''">{{city.matching_full_name}}</li>
  </ul>
</div>
<div class="title" *ngIf="cityData!=undefined && errorSearch==false " >
  <h2>{{citySelected}}</h2>
  <app-chart [data]=cityData></app-chart>
</div>

<div class="error" *ngIf="errorSearch">
  <p>We are sorry but dont have information for the selected city, please try other</p>
</div>

<div class="container m-auto">
    <router-outlet></router-outlet>
    <app-list-coffee></app-list-coffee>
</div>
  <!-- <header>
    <img src={{imgLink}} class="img-fluid" alt="" />
  </header> -->



</div>
